@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Serif", serif;
    color: #F0FFFF;
}

@media (max-width: 430px) and (max-height: 932px) {
    /* Página inicial */
    .area-geral {
        position: relative;
        background-image: url('../image/fundo-tela-inicial.avif');
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
        background-color: #000;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .area-geral::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 0;
    }
    
    .area-treino-inicio {
        display: flex;
        flex-direction: column;
        width: 95%;
        height: 80vh;
        align-items: center;
        margin: auto;
        position: relative;
        z-index: 1;
        padding: 35px 15px;
        border-radius: 20px;
        background-color: #1d1d1da1;
        border: 1px solid #e6ff088f;
    }
    
    .titulo-inicio {
        text-align: center;
    }
    
    .titulo-inicio h1 {
        padding: 10px;
        font-size: 25pt;
    }
    
    .titulo-inicio hr {
        margin: 5px auto;
        width: 98%;
    }
    
    .titulo-inicio p {
        font-size: 12pt;
        padding: 10px;
    }
    
    .botao-inicio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 95%;
        height: 300px;
        margin: auto;
    }
    
    .botao-inicio .botao-comecar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        border: 1px solid #859400;
        background-color: #e9ff1e;
        font-weight: 500;
        color: #000;
        border-radius: 30px;
        font-size: 30px;
        margin-top: 6px;
    }
    
    .botao-inicio .botao-comecar:hover {
        transform: scale(1.1);
        cursor: pointer;
    }

    .botao-inicio .botao-extra {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        border: 1px solid #0026ff54;
        background-color: #0013464d;
        font-weight: 500;
        color: #c4c4c4;
        border-radius: 30px;
        font-size: 25px;
        margin-top: 6px;
    }
    
    .botao-inicio .botao-extra:hover {
        background-color: #1a30a8a1;
        color: #F0FFFF;
        transform: scale(1.1);
        cursor: pointer;
    }
    
    .aviso-inicio {
        display: flex;
        align-items: end;
        height: 280px;
        text-align: center;
        font-size: 14px;
    }
    
    .aviso-inicio strong {
        font-size: 28px;
    }

    footer {
        width: 100%;
    }
    
    .rodape-inicio {
        color: #F0FFFF;
        z-index: 1;
        padding: 9px;
        font-size: 12pt;
        text-align: center;
    }
    
    .rodape-inicio a {
        text-decoration: none;
    }
    
    .rodape-inicio a:hover {
        text-decoration: underline;
    }

    /* Página de exercícios */
    .area-geral-exercicios {
        position: relative;
        background-image: url('../image/fundo-tela-exercicios.avif');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #000;
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }

    .area-geral-exercicios::before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.932);
        z-index: 0;
    }

    .area-aviso-exercicios {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px 20px;
        z-index: 1;
        background-color: yellow;
        border-radius: 12px;
    }

    .aviso-exercicios {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }

    .aviso-exercicios h3 {
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        color: red;
    }

    .aviso-exercicios p {
        font-size: 11px;
        color: #000;
    }

    .area-stretching, .area-fat-burning {
        width: 100%;
        padding: 5px 5px;
        z-index: 1;
        margin-bottom: 10px;
    }

    .area-titulo-exercicios {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-radius: 12px;
        background-color: #2929ff;
        padding: 2px 20px;
    }

    .area-titulo-exercicios button {
        background-color: #2929ff;
        border: none;
    }

    .lista-exercicios {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .lista-exercicios ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .lista-exercicios li {
        display: flex;
        align-items: center;
        width: 90%;
        padding: 10px 10px 5px 10px;
        background: rgba(255, 255, 255, 0.1);
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .detalhes-exercicio {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 5px 0;
    }
    
    .image-video {
        width: 50px;
        height: 50px;
        margin-left: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
    }
    
    .image-video video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .nome-descricao-exercicios {
        flex: 1;
        margin: 0;
    }
    
    .nome-descricao-exercicios h3 {
        font-size: 12pt;
        margin: 0 0 2px 0;
    }
    
    .nome-descricao-exercicios p {
        font-size: 8pt;
        margin: 0;
    }

    .cronometro-exercicios {
        display: flex;
        align-items: center;
        width: 90%;
        padding: 0px 0px 2px 26px; 
        margin-bottom: 10px;
        border-top: 2px solid #83838352;
        background: rgba(255, 255, 255, 0.1);
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .cronometro-exercicios button {
        width: 52px;
        background-color: transparent;
        border: none;
        color: #2396FE;
    }

    .cronometro-exercicios button:nth-last-child(1) {
        width: 52px !important;
        background-color: transparent;
        border: none;
        color: #E12A45;
    }

    .full-screen-timer {
        text-align: center;
    }

    .area-botao-conclusao-treino {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 30px;
        width: 100%;
        z-index: 1;
    }

    .botao-conclusao-treino:disabled {
        width: 70%;
        font-size: 15pt;
        padding: 6px 0;
        border: 1px solid gray;
        background-color: gray;
        border-radius: 20px;
        font-weight: 600;
        color: #F0FFFF;
    }

    .botao-conclusao-treino {
        width: 70%;
        font-size: 15pt;
        padding: 6px 0;
        border: 1px solid #00d100;
        background-color: #00d100;
        border-radius: 20px;
        font-weight: 600;
        color: #F0FFFF;
    }

    .botao-conclusao-treino:hover {
        transform: scale(1.1);
    }

    /* Página de erro */
    .botao-not-found:hover {
        transform: scale(1.1);
    }
}