@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu Mono", serif;
    color: #F0FFFF;
}

@media (max-width: 430px) and (max-height: 932px) {
    .area-geral {
        position: relative;
        background-image: url('../image/fundo-tela-inicial.avif');
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
        background-color: #000;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .area-geral-exercicios {
        position: relative;
        background-image: url('../image/fundo-tela-exercicios.avif');
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
        background-color: #000;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .area-geral::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 0;
    }
    
    .area-geral-exercicios::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 0;
    }
    
    .area-treino-inicio {
        display: flex;
        flex-direction: column;
        width: 95%;
        height: 80vh;
        align-items: center;
        margin: auto;
        position: relative;
        z-index: 1;
        padding: 35px 15px;
        border-radius: 20px;
        background-color: #1d1d1da1;
        border: 1px solid #e6ff088f;
    }
    
    .titulo-inicio {
        text-align: center;
    }
    
    .titulo-inicio h1 {
        padding: 10px;
        font-size: 25pt;
    }
    
    .titulo-inicio hr {
        margin: 5px auto;
        width: 98%;
    }
    
    .titulo-inicio p {
        font-size: 12pt;
        padding: 10px;
    }
    
    .botao-inicio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 95%;
        height: 300px;
        margin: auto;
    }
    
    .botao-inicio .botao-comecar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        background-color: #e9ff1e;
        font-weight: 500;
        color: #000;
        border-radius: 30px;
        font-size: 30px;
        margin-top: 4px;
    }
    
    .botao-inicio .botao-comecar:hover {
        background-color: #b6ca00;
        transform: scale(1.1);
        cursor: pointer;
    }

    .botao-inicio .botao-extra {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        background-color: #213cd354;
        font-weight: 500;
        color: #F0FFFF;
        border-radius: 30px;
        font-size: 25px;
        margin-top: 4px;
    }
    
    .botao-inicio .botao-extra:hover {
        background-color: #1a30a8a1;
        transform: scale(1.1);
        cursor: pointer;
    }
    
    .aviso-inicio {
        display: flex;
        align-items: end;
        height: 280px;
        text-align: center;
        font-size: 14px;
    }
    
    .aviso-inicio strong {
        font-size: 28px;
    }

    footer {
        width: 100%;
    }
    
    .rodape-inicio {
        color: #F0FFFF;
        z-index: 1;
        padding: 9px;
        font-size: 12pt;
        text-align: center;
    }
    
    .rodape-inicio a {
        text-decoration: none;
    }
    
    .rodape-inicio a:hover {
        text-decoration: underline;
    }
}